<h1>List User</h1>ng

<table class="table table-borderd">
  <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Author</td>
      <td>Price</td>
      <td>Delete Book</td>
  </tr>

  <tr *ngFor="let u of users">

      <td>{{u.name}}</td>
      <td>{{u.category}}</td>
      <td>{{u.author}}</td>
      <td>{{u.price}}</td>
      <td>
          <button type ="button" class="btn btn-primary  " (click)="deleteBook(u.bookId)">Delete</button>  |
          <a routerLink="/editbook/{{u.bookId}}" class=" btn btn-info">Edit </a>
      </td>
  </tr>
</table>
